@import url('https://fonts.googleapis.com/css2?family=Milonga&family=Mulish&family=Redressed&family=Roboto&family=Sintony&display=swap');

* {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #1A1A1B;
}

#navBar {
    /* position: absolute; */
    background: #1A1A1B;
    width: 100%;
    height: 100px;
    left: 0px;
    top: 0px;
    position: fixed;
    z-index: 10;
    user-select: none;
    display: grid;

    .logo {
        width: 100%;
        height: 100px;

        img {
            width: 100px;
            z-index: 1;
            float: left;
            animation: swirl-in-fwd 0.6s ease-out both;
        }
    }

    nav {
        position: absolute;
        width: 100%;
        height: 64.67px;
        left: 0px;
        top: 20.87px;

        ul {
            // position: absolute;
            display: flex;
            justify-content: end;
            align-items: center;
            // align-items: flex-end;
            padding: 0px 25px;
            gap: 30px;
            // width: 617px;
            height: 64.67px;
            // left: 555px;
            // top: 20.13px;
            margin-right: 70px;

            li {
                // display: none;
                width: auto;
                height: 25px;
                cursor: pointer;
                font-family: 'Milonga';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 25px;
                display: flex;
                align-items: center;
                text-align: center;
                color: #FFFFFF;
                flex: none;
                order: 0;
                flex-grow: 0;


                a {
                    text-decoration: none;
                    color: white;
                }

                &.active::after {
                    position: absolute;
                    content: "";
                    height: 3px;
                    width: 100%;
                    left: 0;
                    bottom: -10px;
                    /* background-color: #e91e63; */
                    background-color: rgb(0, 213, 255);
                    // border-radius: 50%;
                    animation: apper 0.3s linear;
                }
            }

            #menuBars {
                color: #FFFFFF;
                // display: inline-block;
                display: none;

                i {
                    width: auto;
                    height: auto;
                }
            }
        }
    }
}

@keyframes swirl-in-fwd {
    0% {
        transform: rotate(-540deg) scale(0);
        opacity: 0;
    }

    100% {
        transform: rotate(0) scale(1);
        opacity: 1;
    }
}


@keyframes apper {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

#goTop {
    background-color: #03cc65;
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 20px;
    right: 10px;
    display: none;
    place-items: center;
    border-radius: 50%;
    z-index: 90;
    cursor: pointer;
}

#progress-value {
    display: block;
    background-color: white;
    border-radius: 50%;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    display: grid;
    place-items: center;
    font-size: 35px;
    color: #001a2e;

    i {
        background: none;
    }
}

.reveal {
    // position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.activeRev {
    transform: translateY(0px);
    opacity: 1;
}

#home {
    position: absolute;
    // background-color: red;
    width: 100%;
    height: 500px;
    // height: 100%;
    left: 0px;
    top: 100px;
    user-select: none;
    display: flex;
    flex-direction: column;
}

#name {
    // position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    // width: 648px;
    height: 82px;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    // left: 309px;
    // top: 100px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 82px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    // margin-top: 20px;
    margin: 20px 0;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

.wrapper {
    display: flex;
    // width: 823px;
    height: 150px;
    // left: 345px;
    // top: 215px;
    align-items: center;
    font-size: 58px;
    // position: absolute;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 75px;
    justify-content: center;
    text-align: center;
    left: 0;
    top: 0;
    margin-top: 10px;

    .static-txt {
        color: #fff;
        font-size: 60px;
        font-weight: 400;
        text-align: center;
        // padding-right: 114px;
    }

    .dynamic-txts {
        margin-left: 15px;
        // right: 100px;
        height: 90px;
        line-height: 90px;
        overflow: hidden;

        li {
            list-style: none;
            color: #FC6D6D;
            font-size: 60px;
            font-weight: 500;
            position: relative;
            top: 0;
            animation: slide 12s steps(4) infinite;

            span {
                position: relative;
                margin: 5px 0;
                line-height: 90px;

                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    /* height: 100%; */
                    height: 200px;
                    width: 100%;
                    background: #1A1A1B;
                    border-left: 2px solid #FC6D6D;
                    animation: typing 3s steps(10) infinite;
                }
            }
        }
    }
}

@keyframes slide {
    100% {
        top: -360px;
    }
}

@keyframes typing {

    40%,
    60% {
        left: calc(100% + 30px);
    }

    100% {
        left: 0;
    }
}

.scroll-downs {
    // position: absolute;
    margin: auto;
    width: 0;
    height: 124px;
    // left: 583px;
    // top: 410px;
    display: flex;
    justify-content: center;
    align-items: end;

    a {
        height: 35px;
    }

    .mousey {
        width: 3px;
        padding: 10px 15px;
        height: 35px;
        border: 2px solid #fff;
        border-radius: 25px;
        opacity: 0.75;
        box-sizing: content-box;
    }

    .scroller {
        width: 3px;
        height: 10px;
        border-radius: 25%;
        background-color: #fff;
        animation-name: scroll;
        animation-duration: 2.2s;
        animation-timing-function: cubic-bezier(.15, .41, .69, .94);
        animation-iteration-count: infinite;
    }
}

@keyframes scroll {
    0% {
        opacity: 0;
    }

    10% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}

#about {
    position: absolute;
    width: 100%;
    height: 1200px;
    left: 0px;
    top: 600px;
    display: flex;
    margin-top: 30px;
    background: url(../images/Moon.svg);
    // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='1200' preserveAspectRatio='none' viewBox='0 0 1440 1200'%3e%3cg clip-path='url(%26quot%3b%23SvgjsClipPath2270%26quot%3b)' fill='none'%3e%3crect width='1440' height='1200' x='0' y='0' fill='url(%23SvgjsLinearGradient2271)'%3e%3c/rect%3e%3ccircle r='44.585' cx='653.26' cy='1042.26' fill='url(%23SvgjsLinearGradient2272)'%3e%3c/circle%3e%3ccircle r='86.295' cx='899.25' cy='105.97' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='107.6' cx='44.11' cy='637.12' fill='url(%23SvgjsLinearGradient2273)'%3e%3c/circle%3e%3ccircle r='117.215' cx='469.04' cy='840.91' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='43.58' cx='381.76' cy='100.54' fill='url(%23SvgjsLinearGradient2274)'%3e%3c/circle%3e%3ccircle r='75.235' cx='199.5' cy='1059.52' fill='url(%23SvgjsLinearGradient2275)'%3e%3c/circle%3e%3ccircle r='33.13' cx='256.01' cy='316.78' fill='%2343468b'%3e%3c/circle%3e%3ccircle r='62.855' cx='1238.27' cy='1075.45' fill='url(%23SvgjsLinearGradient2276)'%3e%3c/circle%3e%3ccircle r='90.635' cx='1325.15' cy='910.14' fill='url(%23SvgjsLinearGradient2277)'%3e%3c/circle%3e%3ccircle r='75.29' cx='965.84' cy='789.07' fill='url(%23SvgjsLinearGradient2278)'%3e%3c/circle%3e%3ccircle r='109.795' cx='1400.27' cy='1059.68' fill='url(%23SvgjsLinearGradient2279)'%3e%3c/circle%3e%3ccircle r='113.54' cx='865.18' cy='536.57' fill='url(%23SvgjsLinearGradient2280)'%3e%3c/circle%3e%3ccircle r='78.57' cx='830.13' cy='1099.62' fill='url(%23SvgjsLinearGradient2281)'%3e%3c/circle%3e%3ccircle r='113.185' cx='962.79' cy='852.61' fill='url(%23SvgjsLinearGradient2282)'%3e%3c/circle%3e%3ccircle r='85.06' cx='639.89' cy='1169.79' fill='url(%23SvgjsLinearGradient2283)'%3e%3c/circle%3e%3c/g%3e%3cdefs%3e%3cclipPath id='SvgjsClipPath2270'%3e%3crect width='1440' height='1200' x='0' y='0'%3e%3c/rect%3e%3c/clipPath%3e%3clinearGradient x1='50%25' y1='100%25' x2='50%25' y2='0%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2271'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(26%2c 26%2c 27%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='564.09' y1='1042.26' x2='742.4300000000001' y2='1042.26' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2272'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23484687' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='-171.08999999999997' y1='637.12' x2='259.31' y2='637.12' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2273'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23464a8f' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='294.6' y1='100.54' x2='468.92' y2='100.54' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2274'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='49.03' y1='1059.52' x2='349.97' y2='1059.52' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2275'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1112.56' y1='1075.45' x2='1363.98' y2='1075.45' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2276'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23484687' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1143.88' y1='910.14' x2='1506.42' y2='910.14' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2277'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23464a8f' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='815.26' y1='789.07' x2='1116.42' y2='789.07' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2278'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23484687' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='1180.68' y1='1059.68' x2='1619.8600000000001' y2='1059.68' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2279'%3e%3cstop stop-color='%23e298de' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23484687' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='638.0999999999999' y1='536.57' x2='1092.26' y2='536.57' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2280'%3e%3cstop stop-color='%23f29b7c' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%237e6286' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='672.99' y1='1099.62' x2='987.27' y2='1099.62' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2281'%3e%3cstop stop-color='%23ab3c51' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%234f4484' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='736.42' y1='852.61' x2='1189.1599999999999' y2='852.61' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2282'%3e%3cstop stop-color='%2332325d' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23424488' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='469.77' y1='1169.79' x2='810.01' y2='1169.79' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2283'%3e%3cstop stop-color='%2384b6e0' offset='0.1'%3e%3c/stop%3e%3cstop stop-color='%23464a8f' offset='0.9'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
}

.devImg {
    display: flex;
    position: absolute;
    width: 100%;
    height: 280px;
    // left: 372px;
    // top: 56px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.bgImg {
    display: flex;
    // position: absolute;
    width: 280px;
    height: 280px;
    align-items: center;
    justify-content: center;
    // left: 90px;
    // top: 0px;
    border-radius: 50%;
    background: linear-gradient(180deg, #3FAA3D 32.3%, #FF04AA 82.3%);
}

#profile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 15px;
    gap: 29px;
    position: absolute;
    width: 752px;
    height: 171px;
    // left: 118px;
    top: 403px;
    margin-left: 100px;

    h1 {
        width: 502px;
        height: 50px;
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 50px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        flex: none;
        order: 0;
        flex-grow: 0;

    }

    p {
        width: 722px;
        height: 92px;
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        flex: none;
        order: 1;
        flex-grow: 0;
    }
}

#moreInfo {
    position: absolute;
    width: 100%;
    height: 370px;
    /* left: 128px; */
    top: 666px;
    font-family: 'Mulish';

    /* background-color: blue; */
    #infoDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        gap: 40px;
        position: absolute;
        width: 359px;
        height: 256px;
        left: 0px;
        top: 57px;
        margin-left: 100px;

        #location {
            width: 319px;
            height: 24px;
            flex: none;
            order: 0;
            flex-grow: 0;

            p {
                position: absolute;
                width: 280px;
                height: 23px;
                left: 39px;
                top: 0px;
                font-family: 'Mulish';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 23px;
                display: flex;
                align-items: center;
                color: #FFFFFF;
            }
        }

        #age {
            width: 319px;
            height: 24px;
            flex: none;
            order: 1;
            flex-grow: 0;

            p {
                position: absolute;
                width: 70px;
                height: 23px;
                left: 39px;
                top: 0px;
                font-family: 'Mulish';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 23px;
                display: flex;
                align-items: center;
                color: #FFFFFF;
            }
        }

        #phone {
            width: 319px;
            height: 24px;
            flex: none;
            order: 2;
            flex-grow: 0;

            p {
                position: absolute;
                width: 218px;
                height: 23px;
                left: 39px;
                top: 0px;
                font-family: 'Mulish';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 23px;
                display: flex;
                align-items: center;
                color: #FFFFFF;
            }
        }

        #email {
            width: 319px;
            height: 24px;
            flex: none;
            order: 3;
            flex-grow: 0;

            p {
                position: absolute;
                width: 246px;
                height: 23px;
                left: 39px;
                top: 0px;
                font-family: 'Mulish';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 23px;
                display: flex;
                align-items: center;
                color: #FFFFFF;
            }
        }

    }

}

.elips {
    position: absolute;
    width: 35px;
    height: 35px;
    left: -6px;
    top: -6px;
    border-radius: 50%;
    background: #D9D9D9;

    .infoIcon {
        position: absolute;
        width: 24px;
        height: 24px;
        left: 0px;
        top: 0px;
        padding: 10px 0 0 10px;
        background: none;
    }

}

#proBars {
    /* width: 440px; */
    height: 370px;
    /* background-color: green; */
    display: flex;
    float: right;
}

.skills {
    width: 440px;
    padding: 0 20px;
    margin-right: 100px;

    h2 {
        font-weight: 400px;
        letter-spacing: 1px;
        margin-top: 40px;
        margin-bottom: 5px;
        color: white;
        font-size: 16px;
        font-family: 'Sintony';
    }
}

.progressBar {
    background-color: #959595;
    width: 400px;
    height: 10px;
    border-radius: 5px;

    div {
        width: 0%;
        height: 10px;
        border-radius: 5px;

        span {
            background-color: #222;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            float: right;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: -15px;
            margin-right: -20px;
        }
    }
}

.html {
    background-color: #e91e63;
    animation: html 1s linear forwards;

    span {
        border: 1px solid #e91e63;
    }
}

.javascript {
    background-color: #cddc39;
    animation: javascript 1s linear forwards;

    span {
        border: 1px solid #cddc39;
    }
}

.php {
    background-color: #00bcd4;
    animation: php 1s linear forwards;

    span {
        border: 1px solid #00bcd4;
    }
}

.react {
    background-color: #ffeb3b;
    animation: react 1s linear forwards;

    span {
        border: 1px solid #ffeb3b;
    }
}

.c {
    background-color: #9c27b0;
    animation: c 1s linear forwards;

    span {
        border: 1px solid #9c27b0;
    }
}

@keyframes html {
    100% {
        width: 90%;
    }
}

@keyframes javascript {
    100% {
        width: 65%;
    }
}

@keyframes php {
    100% {
        width: 85%;
    }
}

@keyframes react {
    100% {
        width: 19%;
    }
}

@keyframes c {
    100% {
        width: 25%;
    }
}

#btnCV {
    display: flex;
    position: absolute;
    width: 100%;
    height: 68px;
    // left: 470px;
    top: 1120px;
    justify-content: center;
    align-items: center;

    button {
        display: flex;
        // position: absolute;
        width: 241px;
        height: 68px;
        left: 0px;
        top: 0px;
        background: #00C2FF;
        border-radius: 16px;
        font-family: 'Redressed';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 35px;
        cursor: pointer;
        align-items: center;
        justify-content: center;
        border: none;
        transition: width 0.5s;

        

        i {
            // width: 20px;
            // height: 20px;
            // color: white;
            padding-left: 20px;
            display: none;
        }

        &:hover {
            background: #375f6b;
            width: 250px;

            i {
                display: block;
            }
        }
    }
}